<!DOCTYPE html>
<html>
<head>
	<title>DELI-VERY</title>
	<meta charset="utf-8"/>
</head>
<body>
	<main>
		<h1>Welcome to BurgerHeaven Online</h1>
	</main>
	<section>
		<h2>Select burger</h2>
		<p>This is where you execute burger selection</p>
		<table>
			<thead>
				<tr>
					<th>Play Doh Burger</th>
					<th>Candy Burger</th>
					<th>Cartoon Burger</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th><img src="/img/playdoh.jpg" width=250em></a></th>
					<th><img src="/img/candy.png" width=250em></a></th>
					<th><img src="/img/cartoon.jpg" width=250em></a></th>
				</tr>
				<tr>
					<td>
						<ul>
							<li>100% Play Doh</li>
							<li>Kid friendly burger</li>
							<li>We <i>wouldn't</i> eat it</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Yummy candy!</li>
							<li>Diabetes inducing</li>
							<li>We <b>would</b> eat it!</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Tastes like crayon</li>
							<li>???</li>
							<li>We <i>wouldn't</i> eat it</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section>
		<h2>Customer information</h2>
		<p>This is where you provide necessary information</p>
	</section>
	<footer>
		<span style="display: inline-block; transform: rotate(180deg);">&COPY; </span> Copyleft
	</footer>
</body>
</html>