<!DOCTYPE html>
<html>
<head>
	<title>DELI-VERY</title>
	<meta charset='utf-8'/>
	<!-- <link rel='stylesheet' type='text/css' href='css/reset.css'> -->
	<link rel='stylesheet' type='text/css' href='css/style.css'>

	<script src='js/food.js'></script>
	<script src='js/js_script.js' defer></script>
	<script src="/socket.io/socket.io.js" defer></script>
  	<!-- <script src="js/deli-very.js" defer></script> -->

  	<!-- <link rel="stylesheet" href="css/deli-very.css"> -->
  	<script src="/vue/vue.js" defer></script>


	<script src='https://vuejs.org/js/vue.js'></script>
	<script src='js/vue_script.js' defer></script>


	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body>
	<header>
		<div class='h1hack'>
			Welcome to BurgerHeaven Online
		</div>
		<img src='/img/bar.jpg'>
	</header>


	<div id="vue-div">

		<section id='burger-sel'>
			<h2>Burgers</h2>
			<div class='vue-wrapper'>
				<div v-for='(item, index) in food' class="burger">
					<h3>{{item.name}}</h3>
					<input type="checkbox" name="selected-burger" :id='item.foodId' :value='item.name' v-model="order_struct.burgers">
					<label class="selected-burger" :for='item.foodId'>
						<img class='productimg' v-bind:src=item.img>
					</label>

					<!-- Description of the food -->
					<div class='desc'>
						<ul>
							<li v-for='descitem in item.desc'>
								{{descitem}}
							</li>
						</ul> 
					</div>

					<!-- Allergen logos -->
					<div class='allergen'>
							<img v-if='!item.lactose' v-bind:src='lactoseFreeSrc'> 
							<img v-if='!item.gluten' v-bind:src='glutenFreeSrc'>
					</div>
				</div>
			</div>
		</section>


		<section id='cust-info'>
			<!-- Customer info form --> 
			<div id='contact' style="grid-area: form">
				<h2>Customer information</h2>
				<form>
					<p>
						<label for='name'>Name:</label><br>
						<input type='text' id='name' name='name' required='required' placeholder='First and last name' v-model='order_struct.name'>
					</p>
					<p>
						<label for='email'>E-mail:</label><br>
						<input type='email' id='email' name='email' required='required' placeholder='mail@example.com' v-model='order_struct.email'>
					</p>
					<p>
						<label for='payment'>Payment option</label><br>
						<select id='payment' name='payment' v-model='order_struct.payment'>
							<option disabled value="">Please select a payment method</option>
							<option name='cash'>Cash</option>
							<option name='eth' selected>Ethereum</option>
							<option name='cc'>Credit card</option>
							<option name='dc'>Debit card</option>
						</select>
					</p>
					<p>
						<label for='gender' >Gender:</label><br>
						<input type='radio' name='gender' v-model='order_struct.gender' value='Male'> Male<br>
						<input type='radio' name='gender' v-model='order_struct.gender' value='Female'> Female<br>
						<input type='radio' name='gender' v-model='order_struct.gender' value='Other'> Other<br>
					</p>
				</form>
			</div>

			<!-- Order confirmation --> 
			<div id="order-confirmation" style="grid-area: order;">
				<div id="order-success" style="display: none;">
					<h2><span style="display: inline; color: rgb(119, 244, 66);">✔︎</span> Order confirmation</h2>
					<h3>Customer details</h3>
					Name: {{order_struct.name}} <br>
					Email: {{order_struct.email}} <br>
					Payment: {{order_struct.payment}} <br>
					Gender: {{order_struct.gender}} <br>
					Burgers: {{order_struct.burgers.join(', ')}} <br>
				</div>
				<div id="order-error" style="color: red; grid-area: order; display: none;">
					<h2></h2>
					✘ One of the input fiels were incorrectly filled in. 
				</div>
				<div id="order-status"  style="display: none; font-weight: bold; color: orange;">
				</div>
			</div>


			<div class="view-box" style="grid-area: map">
			    <div id="dots" v-on:click="displayOrder">
			        <div 
			          v-if="order_struct.loc.x != null && order_struct.loc.y != null "
			          v-bind:style="{ left: order_struct.loc.x + 'px', top: order_struct.loc.y + 'px'}">
			          T
			        </div>
			    </div>
		  	</div>
			<div class='order-button'>
				<div class='wroom' style='position: absolute; font-size: 2.5em; z-index: 0; display: inline-block; transform: scaleX(-1);'>🚗</div>
				<button v-on:click="addOrder" id="order-button" type='button'><img src='/img/burger.svg' style='height: 1.5em; vertical-align: -0.4em;'> <b>Order!</b></button>
			</div>
		</section>
		
		<!-- <div class="lower-bun"> -->
			<!-- <div style='display: inline-block; position: absolute;'> -->
				<!-- <span style="transform: scaleX(-1);">&COPY;</span> Copyleft -->
			<!-- </div>  -->
			<!-- <img src='/img/bar.jpg' id="testing" style="z-index: -1; position: relative;"> -->
			
			<!-- <span style='display: inline-block; position: absolute;'>Copyleft</span>  -->
		<!-- </div> -->
		
	</div> <!-- end vuediv -->

</body>
</html>