<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DELI-VERY MAP</title>
  <link rel="stylesheet" href="css/deli-very.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/deli-very.js" defer></script>
</head>
<body>
  <div class="view-box">
    <div class="orders" style="overflow: scroll;">
      <div v-for="(order, index) in orders">
      <div class="order" style="min-height: 15%; color: white; display: flex; align-items: center;">
        <div class="order-text" style="display: inline-block; width: auto;">
          <b>#{{order.orderId}} {{order.details.burgers.join(', ')}}</b><br>
          <i>{{order.details.name}} ({{order.details.email}}, {{order.details.payment}}, {{order.details.gender}}) {{order.order_sent}} </i>
        </div>
        <button type='button' v-if="!order.order_sent" v-bind:id="'orderid' + order.orderId" v-on:click='sendOrder(order.orderId)'><b>Dispatch</b></button>
        <button type='button' v-else v-bind:id="'orderid' + order.orderId + 'sent'" disabled><b>Sent!</b></button>
      </div>
      <hr v-if="index != getNext() - 1">
      </div>  
    </div>
    <div id="dots">
        <div 
          v-for="order in orders"
          v-bind:style="{ left: order.details.loc.x + 'px', top: order.details.loc.y + 'px'}">
          {{order.orderId}}
        </div>
    </div>
    
  </div>
</body>
</html>